@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Inder&family=Lato:wght@300;700&family=Space+Mono&display=swap');

.background-h2{
    background-color: #9DB2BF;
    text-align: center;
}

body{
    background-color: #DDE6ED;
    font-family: 'Bricolage Grotesque', sans-serif;
}

main{
    width: 60%;
    margin: 20px auto;
}

footer{
    width: 60%;
    margin: 20px auto;
}

footer p{
    text-align: center;
    background-color: #526D82;
    color: azure;
}

.lista{
    list-style-type: none;
    padding-left: 20px;
}

.lista li p{
    font-weight: bolder;
}

.left{
    padding-left: 80px;
}

li{
    margin: 10px 0;
}

.container-img{
    display: flex;
    justify-content: center;
}

.content{
    text-align: justify;
    padding: 10px;
}

.inicio{
    margin: 0 auto;
    padding: 10px;
    background-color: azure;
    width: 20%;
    text-align: center;
    border-radius: 4px;
    box-shadow:4px 4px #b2b2b2;
}

a{
    text-decoration: none;
    color: #526D82;
}